name: Python CI Pipeline

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest moto httpx  # Testing specific tools

    - name: Download spaCy model
      run: |
        python -m spacy download en_core_web_sm

    - name: Set Mock AWS Credentials
      # This ensures the tests always use dummy keys even if code forgets to mock
      run: |
        echo "AWS_ACCESS_KEY_ID=testing" >> $GITHUB_ENV
        echo "AWS_SECRET_ACCESS_KEY=testing" >> $GITHUB_ENV
        echo "AWS_DEFAULT_REGION=us-east-1" >> $GITHUB_ENV
        echo "S3_BUCKET_NAME=test-bucket" >> $GITHUB_ENV

    - name: Run Tests with pytest
      run: |
        # -v gives verbose output so you can see each test name in the logs
        pytest -v
